@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,500&display=swap);

* {
    font-family: Roboto, sans-serif;
    width: 100%
}

*,
aside {
    float: left
}

aside {
    background-color: #f8f8fb;
    height: 100%;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 18%;
    z-index: 1
}

aside ul {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    margin-top: 50px;
    padding: 30px;
    text-align: left
}

aside ul li {
    font-weight: 100;
    margin-top: 15px
}

input {
    border: 1px solid #000;
    padding: 5px 0 0;
    text-align: center
}

.manager-settings {
    float: left;
    margin-left: 20%;
    padding: 20px;
    width: 70%
}

.manager-settings form {
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr 1fr
}

.manager-settings form div {
    align-items: left;
    display: flex
}

.manager-settings form input {
    border-radius: 5%;
    height: 50%;
    width: 5rem
}

.manager-settings form .min_profit {
    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-row-start: 1;
    margin: 5px
}

.manager-settings form .max_profit {
    grid-column-end: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 2;
    margin: 5px
}

.manager-settings form .limit_sum {
    align-items: left;
    display: flex;
    flex-direction: column;
    grid-column-end: 2;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
    margin: 5px 5px 5px 10%
}

.manager-settings form .limit_sum input {
    margin-top: 5px;
    width: 70%
}

.manager-settings form .min_clear_profit {
    align-items: left;
    display: flex;
    flex-direction: column;
    grid-column-end: 3;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-row-start: 1;
    margin: 5px 5px 5px 10%
}

.manager-settings form .min_clear_profit input {
    margin-top: 5px;
    width: 70%
}

.cell {
    border: 1px solid #000;
    padding-top: 5px;
    text-align: center;
    z-index: 3
}

.table_rows {
    display: grid;
    grid-template-rows: repeat(31, 50px)
}

.table__form__product-criteria {
    grid-template-columns: 100px 80px 80px 120px 200px 80px 100px
}

.table__form__price,
.table__form__product-criteria {
    display: grid;
    float: left;
    grid-template-rows: 2fr .5fr 1fr 1fr 1fr;
    padding: 40px;
    width: 70%
}

.table__form__price {
    grid-template-columns: 100px 80px 80px 120px 200px 80px
}

.table__form__returns {
    display: grid;
    float: left;
    grid-template-columns: 100px 150px 120px 120px 120px;
    grid-template-rows: 2fr .1fr 1fr 1fr 1fr;
    padding: 40px;
    width: 70%
}

.table__form__comission {
    grid-template-columns: 100px 80px 80px 120px 200px 100px 100px 100px 100px
}

.table__form__comission,
.table__form__total {
    display: grid;
    float: left;
    grid-template-rows: 2fr .5fr 1fr 1fr 1fr;
    padding: 40px;
    width: 70%
}

.table__form__total {
    grid-template-columns: 100px 80px 80px 120px 200px 100px 100px 100px
}

h1 {
    text-align: center
}

.table {
    margin-left: 20%;
    padding: 20px;
    width: 70%
}

.table__header {
    background-color: #f8f8fb;
    font-weight: 700
}

/*# sourceMappingURL=main.7955925a.css.map*/